In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect, func

import pandas as pd

import numpy as np

In [2]:
# Create engine using the RestonDev.sqlite database file

engine = create_engine("sqlite:///static/resources/data/RestonDev.sqlite")

In [7]:
# Create a connection to the engine called `conn`
conn = engine.connect()
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)
# Print all of the classes mapped to the Base
Base.classes.keys()

['ExApp', 'ExURApp', 'Existing', 'PlanMax']

In [10]:
# Assign the Measurement class, Station class to a variables called Measurement and Station respectively
Existing = Base.classes.Existing
PlanMax = Base.classes.PlanMax
ExApp = Base.classes.ExApp
ExURApp = Base.classes.ExURApp

In [11]:
# Create a session
session = Session(engine)

In [13]:
#Testing Queries
#MostActiveStation = session.query(Measurement.station,func.count(Measurement.station)).\
#    group_by(Existing.TSA)
    
ExistinData = session.query(Existing.TSA,Existing.Office,Existing.Retail,\
                               Existing.Hotel,Existing.Institutional,\
                               Existing.Industrial,Existing.Nonresidential_GFA,Existing.Residential_GFA,Existing.Residential_Units).\
                               filter(Existing.TSA == "Reston Town Center TSA").all()
SampleExistinDataDF = pd.DataFrame(ExistinData)
SampleExistinDataDF.head()
#sampleIDDict = sampleMetaDataDF.to_dict('records')

,TSA,Office,Retail,Hotel,Institutional,Industrial,Nonresidential_GFA,Residential_GFA,Residential_Units
0,Reston Town Center TSA,1096572.0,0.0,0.0,0.0,0.0,1096572.0,0.0,0.0
1,Reston Town Center TSA,457630.0,0.0,0.0,0.0,62592.0,520222.0,0.0,0.0
2,Reston Town Center TSA,74983.0,258022.0,0.0,0.0,0.0,333005.0,0.0,0.0
3,Reston Town Center TSA,490430.0,13946.0,0.0,0.0,0.0,504376.0,295160.0,297.0
4,Reston Town Center TSA,214088.0,9766.0,330397.0,0.0,0.0,554251.0,161893.0,194.0